h1 {
    color: forestgreen;
    font-size: 33pt;
}

.Container {
    display: flex;
    flex-wrap: wrap;
}

    .Container img {
        border-radius: 0.5em;
        margin: 0.5em;
        width: 20em;
    }

